<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataSetLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataSetLoader.Properties.Settings>
            <setting name="NaPTANFileLocation" serializeAs="String">
                <value>c:\git\BusRoutes\NapTAN</value>
            </setting>
            <setting name="TravelineFileLocation" serializeAs="String">
                <value>c:\git\BusRoutes\traveline data</value>
            </setting>
        </DataSetLoader.Properties.Settings>
    </applicationSettings>
  
</configuration>