@using BusRoutesWeb.Models;
@model LocalRoutesViewModel

@{
    ViewBag.Title = "LocalRoutes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LocalRoutes</h2>
<p>
    Find your local busroutes:
</p>
@using (Html.BeginForm("LocalRoutes", "Find", FormMethod.Post, new { id = "findForm" }))
{
    @Html.Label("Enter Postcode");
    @Html.EditorFor(x => x.Postcode,new { id = "postcode" })
    <input type="submit" value="OK" id="find"/>
}
<br />
<input type="text" id="Longitude" />
<input type="text" id="Latitude" />
<div id="map" class="hidden">
    <p>map visible</p>
</div>
<div id="mapdiv"></div>
<script src="../../Scripts/jquery-1.7.1.min.js"></script>
<script src="../Scripts/mapWrangling.js" type="text/javascript"></script>
<script src ="../OpenLayers-2.10/OpenLayers.js" type="text/javascript"></script>

  